
/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 142; /*purple 250 - green 142 - blue 230 - pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color),  65%, 51%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 25%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 50%, 85%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --container-alter-color:hsl(220, 16%, 96%);
    --scrolll-bar-color:hsl(var(--hue-color), 12%, 95%);
    --scrolll-thumb-color:hsl(var(--hue-color), 12%, 80%);
    /* Box shadow */
    --box-shadow: 2px 3px 18px rgb(14 52 54 / 40%);
    
    /* --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scrolll-bar-color:hsl(var(--hue-color), 12%, 48%);
    --scrolll-thumb-color:hsl(var(--hue-color), 12%, 30%); */

     /*========== Font and typography ==========*/
    /* แบบอักษรและการพิมพ์ */
    --body-font:'Poppins', sans-serif ;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}
/*========== Variables Dark theme ==========*/
body.dark-theme{
/* 
    background-color: #333;
    color: #fff; */
  --first-color-second: hsl(var(--hue-color), 30%, 50%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 10%, 90%);
  --input-color: hsl(var(--hue-color), 29%, 9%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(233, 39%, 14%);
  --container-alter-color:hsl(220,30%, 20%);
  --scrolll-bar-color:hsl(var(--hue-color), 12%, 48%);
  --scrolll-thumb-color:hsl(var(--hue-color), 12%, 30%);
  --box-shadow: 2px 4px 20px hsl(var(--hue-color),  65%, 40%);
}
    /* Font size for large device */
    /* ขนาดตัวอักษรสำหรับอุปกรณ์ขนาดใหญ่ */
@media screen and (min-width: 968px) {
    :root {
            --big-font-size: 3rem;
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
    }
}



/*========== Button Dark/Light ==========*/
.nav__btns{
    display: flex;
    align-items: center;
    /* color: #000000; */
}
.nav__account{
    /* background-color: #000000; */
    border:var(--first-color-second) ;
    color: var(--text-color);

}
.nav__account:hover {
    background-color:var(--container-color);
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover{
    color: var(--first-color);
}
/* =================== BASE =============== */

input{
    background-color: var(--container-color);
}
html{
    scroll-behavior: smooth;

}
nav{
    /* margin-bottom: 7rem; */
    position: fixed;
    width: 100%;
    z-index: 1000;
}
body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    /* background-color:var(--body-color); */
    background-color: var(--container-color);
    /* overflow: hidden; */
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* =================== Reuseable CSS Classes =============== */
.section{
    padding: 2rem 0 4rem;
}

.section__title{
    font-size: var(--h1-font-size);
    margin-top: 5vh;
    font-weight: 100;
    box-shadow: var(--box-shadow);
    background-color: var(--container-color);
    opacity: 0.7;

}

.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
    color: var(--text-color-light);

}


.section__subtitle,.section__title
{
    text-align: center;
}


/* =================== Lay out =============== */


.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    /* width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color); */
    /* display: block; */
    width: 100%;
    background: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    
}
.main{
    /* border: var(--first-color) solid 2px; */
    margin-top: 5rem;
}

/* --------------------------------------- */
.subtitle{
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    margin-left: 1rem;
}




/* ======================== nav ====================== */


/* 
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
    
} */

.logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
}

.logo .bx{
    font-size: 24px;
    color:var(--first-color);
    background-color: var(--first-color);

}
/* ============ home index =============== */
ul{
    display: flex;
    align-items: center;
}
li{
    display: flex;
    position: relative;
}
li a{
    padding: 150px;
}

.home__dropdown{
    position: absolute;
    display: block;
    background-color: var(--container-color);
    top: 100%;
    border-radius: 4px;
    width: auto;
    align-items: start;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    border: var(--first-color-lighter) solid;
    /* font-size: var(--small-font-size); */
}

/* /*============================= home ======================== */
.home{
    margin-top: 5rem;
    /* background: url(5.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    border-radius: 1.5rem;
    align-items: center;
}
.home__action{
    display: grid;
    grid-template-columns: repeat(2,minmax(1.75rem,auto));
    gap:1rem;
}
.home-text{
    padding-left: 35px;
}
.home-text h1{
    color: var(--bg-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.home__about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,auto));
    gap:2rem;
    padding: 2rem;
    background-color: var(--container-alter-color);
    /* border-radius:90px 90px 0px 0px; */
    padding-top:5rem ;
}
.home__aboutus{
    border: solid var(--first-color-alt);
    border-radius: 10%;
    /* display: flex;
    width: 120%; */
}
.home__about-img{
    height: 70%;
    padding: 2rem;
    align-items: center;
}

.btn{
    border-radius: .25rem;
    text-align: center;
    
}
/* .home__dropdown-data{
    font-size: var(--smaller-font-size);
    margin-left: 10px;
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
} */
.nav > li, .nav > a,  .nav > i , .home__dropdown-link > div{
    font-size: var(--normal-font-size);
    margin-left: 10px;
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
}
.home__dropdown-link:hover .home__dropdown{
    opacity: 1;
    visibility: visible;
    transform: translateY(2px);
    
}
.navbar{
    display: flex;
}

.navbar a {
/* align-items: center; */
padding: 8px 17px;
color: var(--text-color);
font-size: var(--normal-font-size);
/* margin-left: 10px; */
font-family: var(--body-font);
/* font-size: 1rem; */
text-transform: uppercase;
font-weight: var(--font-semi-bold);
}
.navbar a:hover,.home__dropdown-link:hover{
    color: var(--first-color)
}
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 80%; */
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: var(--box-shadow);
    /* margin-bottom: 99rem; */
    /* border: solid; */
  }

.nav__icon{
    height: 50px;
    width: auto;
}
.nav-bar > button {
    padding: 12px 28px;
    border: none;
    outline-width: 0;
    /* color: white; */
    border-radius: 24px;
    cursor: pointer;
    font-weight: 400;
    background-image: linear-gradient(
          120deg,
          hsl(192, 70%, 51%),
          hsl(136, 65%, 51%)
        );
    }
.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
      }
.hero-img-container {
    background-image: url('../images/bg-intro-desktop.svg');
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-top: 20px;
      }
.hero-img-container > img {
    width: 600px;
    /* height: 450px; */
      }

.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    }
.hero-text-container > h1 {
        font-size: 70px;
        font-weight: 800;
        margin-bottom: 20px;
        color:var(--title-color);
        line-height: 1.1;
      }
      .hero-text-container > p {
        color: var(--text-color);
        margin-bottom: 15px;
        font-weight: 700;
      }
      .hero-text-container > button {
        padding: 12px 28px;
        border: none;
        outline-width: 0;
        color: var(--container-color);
        border-radius: 24px;
        cursor: pointer;
        font-weight: 400;
        background-image: linear-gradient(
          120deg,
          hsl(192, 70%, 51%),
          hsl(136, 65%, 51%)
        );
      }
.home__containter {
    background-color:var(--container-alter-color);
      }
      .why-us {
        padding-top: 10vh;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10vh;
        /* border: solid var(--first-color-alt) */
      }
      .why-us > h1 {
        font-size: 45px;
        font-weight: 800;
        margin-bottom: 20px;
        color:var(--title-color);
      }
      .why-us > p {
        color:var(--text-color-light);
        margin-bottom: 15px;
        font-weight: 700;
      }
      .features-section {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        /* align-items: flex-start; */
        /* grid-template-columns: repeat(2,1fr); */
        padding-bottom: 10vh;
      }

      .feature-item > img {
        width: 65px;
        margin-bottom: 5px;
        /* border: #000000; */
      }
      .feature-item > h1 {
        font-size: 25px;
        font-weight: 800;
        margin-bottom: 10px;
        color:var(--title-color);
      }
      .feature-item > p {
        color:var(--text-color-light);
        font-weight: 700;
      }
      .home__feature-img{
        border: var(--container-color) solid .25rem;
        border-radius: 50%;
      }
      /* .box {
        padding: 20px;
        background: var(--container-color);
        box-shadow: var(--box-shadow);
        text-align: center;
        border-radius: 2rem;
        border:solid var(--first-color-second);
        width: 35vh;
        height: 60vh;
    } */
    
    .box .bx{
        padding: 10px;
        border-radius: 50%;
        background: var(--container-color);
        color: var(--first-color);
        font-size: 30px;
    }
       /* .box:hover{
        background: var(--input-color);
        color: var(--container-color);
        transition: 0.4s all linear;
        transform: translateY(-1rem);
    }     */
/* 
      .blog-section {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10vh;
      }
      .article-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
      .blog-section > h1 {
        font-size: 45px;
        margin-left: 1.25rem;
        font-weight: 800;
        margin-bottom: 10px;
        color:var(--title-color);
      }
      .article {
        height: max-content;
        width: 250px;
        margin-top: 20px;
        margin-left: 15px;
        background-color:var(--container-color);
      }
      .article > img {
        width: 250px;
        height: 250px;
      } */
      .content {
        padding: 15px;
      }
      .content > p {
        color:var(--text-color-light);
        font-weight: 400;
        font-size: 14px;
      }
      .content > h4 {
        color:var(--title-color);
        padding-bottom: 5px;
        padding-top: 5px;
      }


.nav__btn{
    
    padding: 8px 22px;
    background-color: var(--first-color);
    color: var(--container-color);
    border-radius: 5rem;
    /* border-radius: 50%; */
}
.nav__btn:hover{
    background: var(--input-color);
    color: var(--text-color);
}
.nav__img{
    width: 2.25vw;
}
.nav__acc-bg{
    background: var(--first-color);
    width:3.25vw;
    display: flex;
    justify-content: center;
    padding-top: .5rem;
    /* padding: ; */
    border-radius: 10rem;
    /* border-radius: 10%; */

}
/* =================== button ================== */

.button__summit{
    border: outset 5px var(--first-color);
    margin-top: var(--mb-0-25);
    border-radius: 0.25rem;
    padding: .75rem 1rem 0.75rem;
    width: 100%;
    background-color: var(--container-color) ;
    color: var(--first-color);
    font-family: var(--body-font);
    font-weight: var(--normal-font-size);
    text-align: center;

}

.button__summit:hover{
    color: var(--container-color);
	/* font-size: var(--h3-font-size); */
	font-weight: var(--font-semi-bold);
    background-color: var(--first-color-alt);
    box-shadow: none;
    transition: .5s;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
}

.test-img{
    position: absolute;
	bottom: -1;
    left: 0;
    margin-left: 150px;
	height:auto;
    width: 200px;
	z-index: -1;
    /* border: #7d2ae8 solid; */
   }
   .test-img2{
    position: absolute;
	bottom: 0;
    right: 0;
    transform: rotate(-180deg);
    margin-right: 150px;
	height:auto;
    width: 200px;
	z-index:-1;
   }

   .test-img3{
    position: fixed;
	bottom: 5;
    left: 0;
    /* right: 0; */
    /* margin-left: 150px; */
	height:auto;
    width:100%;
	z-index: -10;
    opacity: 0.5;
    background:var(--container-color);
   }
   .createcard{
    margin-top: 5rem;
   }
   .all-content{
    /* margin-top: 7rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
   }
.container {
    /* margin-top: 5vh; */
    min-height: 100vh;
    /* background:violet; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
}

.container form {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}

.container form .inputBox {
    display: block;
    color: #999;
    padding-bottom: 5px;
}

.container form .inputBox input,
.container form .inputBox select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    color: #444;
}

.container form .flexbox {
    display: flex;
    gap: 15px;
}

.container form .flexbox .inputBox {
    flex: 1 1 150px;
}

.container form .submit-btn {
    width: 100%;
    background: blue;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: .2s linear;
}

.container form .submit-btn:hover {
    letter-spacing: 2px;
    opacity: .8;
}

.container form .submit-btn:disabled {
    background: gray;
    cursor: not-allowed;
}

.container .card-container {
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}

.container .card-container .front {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, blue, #a0e9ff);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    padding: 20px;
    transition: transform .4s ease-out;
}

.container .card-container .front .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.container .card-container .front .image img {
    height: 50px;
}

.container .card-container .front .card-number-box {
    padding: 30px 0;
    font-size: 22px;
    color: #fff;
}

.container .card-container .front .flexbox {
    display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1) {
    margin-right: auto;
}

.container .card-container .front .flexbox .box {
    font-size: 15px;
    color: #fff;
}

.container .card-container .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, blue, #a0e9ff);
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    transform: perspective(1000px) rotateY(180deg);
    transition: transform .4s ease-out;
}

.container .card-container .back .stripe {
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.container .card-container .back .box {
    padding: 0 20px;
}

.container .card-container .back .box span {
    color: #fff;
    font-size: 15px;
}

.container .card-container .back .box .cvv-box {
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color: #333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.container .card-container .back .box img {
    margin-top: 30px;
    height: 40px;
}

input[type="file"] {
    display: none;
}

label {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background: #2b7dc0;
    text-align: center;
    padding: 12px 23px;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.checkbox {
    color: #999;
}
